/* MAIN BODY STYLE SHEET */

*{
    margin:0px;
    padding:0px;
    font-family: 'Karma', serif;
}
body, html {
    height: 100vh;
}
.bg { 
    /* The image used */
    background-image:
    linear-gradient(
    to right,
    rgb(35, 37, 40),
    transparent 10%,
    transparent 44%,
    rgb(35, 37, 40) 48%,
    rgb(35, 37, 40) 52%,
    transparent 56%,
    transparent 90%,
    rgb(35, 37, 40) 100%
    ), 
    url("assets/images/splice1.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(35, 37, 40);
    height: 100%;
    min-height: 780px;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-color: rgb(35, 37, 40);
    background-position: center;
    background-size: cover;
}
#welcomePage, #userChoiceForm, #userResult{
    width: 100%;
    height: 100%;
}

/* LANDING PAGE */
#welcome-left{
    background: rgb(35, 37, 40);
    background: linear-gradient(
        to right,
        rgba(35,37,40,0),
        rgba(35,37,40,.9) 8%,
         rgba(35,37,40,1) 100%
         );
    height: 50vh;
    width: 100%;
    margin-top: 0;
    background-position: right;
    color: #eee;
    float: right;
    text-align: right;
    padding-top: 4vh;
    padding-left: 3.5em;
    min-height: 390px;
}
#welcome-right{
    background: rgb(35, 37, 40);
    background: linear-gradient(
        to left,
        rgba(35,37,40,0),
        rgba(35,37,40,.9) 8%,
         rgba(35,37,40,1) 100%
         );
    height: 50vh;
    width: 100%;
    margin-top: 50vh;
    background-position: left;
    color: #eee;
    float: left;
    text-align: left;
    padding-top: 4vh;
    padding-right: 3.5em;
    min-height: 390px;
    
}
#getStarted{
    font-weight: 600;
}

/* PAGE TWO SPECIFIC STUFF */

#top-form, #left-form, #right-form{
    background-color: transparent;
}
#left-form{
    background: rgb(35, 37, 40);
    background: linear-gradient(
        to right,
        rgba(35,37,40,0),
        rgba(35,37,40,.9) 8%,
         rgba(35,37,40,1) 100%
         );
    height: 50vh;
    width: 100%;
    margin-top: 50vh;
    background-position: right;
    color: #eee;
    float: right;
    text-align: right;
    padding-top: 4vh;
    padding-left: 3.5em;
    min-height: 390px;
}
#right-form{
    background: rgb(35, 37, 40);
    background: linear-gradient(
        to left,
        rgba(35,37,40,0),
        rgba(35,37,40,.9) 8%,
         rgba(35,37,40,1) 100%
         );
    height: 50vh;
    margin-top: 0;
    width: 100%;
    background-position: left;
    color: #eee;
    float: left;
    text-align: left;
    padding-top: 4vh;
    padding-right: 3.5em;
    min-height: 390px;
    
}

/* PAGE THREE */
#map{
    height:400px;
    width:100%;
}
.btn{
      margin:15px;
}
.form-control{
      padding: 0px, 15px;
}
p{
    font-size: 1.4em;
}
h3{
    font-weight: 600;
    font-size: 2.3em;
}
